/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

body {
  background-image: url("bg.png");
}

h1 {
  line-height: 100px;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
  font-weight: 200;
  color: #ABDB25;
}

.phrase {
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  float: right;
  font-family: 'Permanent Marker', cursive;
  text-align: right;
  margin-right: -5px;
}

a.learn_more {
  font-size: 16px;
  color: #ABDB25;
  &:visited {color: #ABDB25;}
  float: right;
    font-family: 'Permanent Marker', cursive;
}

.twitter-share-button {
  float: right;
}

.movie {
  padding-bottom: 20px;
  float: left;
  position: relative;
  
  .over {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    display: none;
    line-height: 25px;
    .label {
      background-color: rgba(153, 153, 153, 0.8);
      position: relative;
      top: 40px;
    }
    .btn {
      position: relative;
      top: 50px;
    }
  }
  img { max-width: 100%;}
  h3 { 
    max-width: 240px; 
    color: white;
    padding: 5px 0;
    position: relative;
    .label {
      position: relative;
      bottom: 2px;
      left: 0px;
    }
  }
  
  &.well { 
    background-color: rgba(100, 100, 100, 0.5);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
    &:hover {
      box-shadow: 0 0px 5px rgba(171, 219, 37, 1);
    }
  }
  
  .btn {
    padding: 4px;
  }
  
}

h4 {
  position: relative;
  float: left;
  line-height: 25px;
}

.subtitles {
  position: relative;
  float: right;
  margin-right: 5px;
}
.download {
  float: right;
  .dropdown-menu {
    min-width: 100px;
  }
}


#learnMore {
  display: none;
}

.modal-footer {
  .diacode {
    float: left;
  }
}


#footer {
  margin-top: 20px;
  margin-bottom: 20px;
  p {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
    font-size: 18px;
    a, a:visited {
      color: #ABDB25;
    }
  }
}